<div><!--style="overflow: scroll; height: 100vh"-->
    <!--profile image and user name-->
    <div class="card text-center">
        <img class="card-img-top w-50 mt-5 mx-auto" src="../../../assets/images/téléchargement.jpg" alt="Title">
        <div class="card-body">
            <h4 class="card-title">username</h4>
        </div>
        <hr>
        <div class="btn-group">
            <button class="btn" (click)="toggle('posts')">Your posts</button>
            <button class="btn" (click)="toggle('friends')">Your friends</button>
        </div>
    </div>

    <div class="mt-4"></div>
    <!--posts of the user-->
    <div *ngIf="shownElement == 'posts'">
        <app-status></app-status>
        <app-post></app-post>
    </div>
    <!--friends of the user-->
    <div *ngIf="shownElement == 'friends'">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active"
                aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small class="text-muted">Description</small>
                </div>
                <p class="mb-1">Paragraph</p>
                <small class="text-muted">paragraph footer</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small class="text-muted">Description</small>
                </div>
                <p class="mb-1">Paragraph</p>
                <small class="text-muted">paragraph footer</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small class="text-muted">Description</small>
                </div>
                <p class="mb-1">Paragraph</p>
                <small class="text-muted">paragraph footer</small>
            </a>
        </div>
    </div>

</div>