<div class="card text-center w-75 mx-auto mt-3" *ngFor="let post of posts">
    <div class="text-start inline-block">
        <img src="../../../assets/images/téléchargement.jpg" alt="" class="w-25">
        <p>{{ userService.user.firstName + " " + userService.user.lastName }} <br> 
            <small>{{post.date | date}}</small>
        </p>
        
    </div>
    <div class="card-body">
        <p>{{post.content}}</p>
    </div>
    <!-- <img class="card-img-top" src="" alt="Title"> -->
    <hr>
    <div class="btn-group">
        <button class="btn">{{post?.likes ?? 0}} Like</button>
        <button class="btn">Coment 0</button>
        <button class="btn">Share 12</button>
    </div>
</div>
