<nav class="navbar navbar-expand-sm navbar-dark bg-primary" >
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div class="text-light clickable" routerLink="/facebook/profile">
        <img src="../../assets/images/user.png" class="rounded-circle shadow-4  bg-light" style="width: 50px;" alt=""> 
        {{userService.user.firstName + " " + userService.user.lastName }}   
    </div>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0 mx-auto  ">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/facebook/profile" routerLinkActive="active">
                    Profile
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/facebook/community" routerLinkActive="active">
                    Community
                </a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" routerLink="/facebook/find-friend" routerLinkActive="active">
                    Find friends
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/facebook/notification" 
                routerLinkActive="active">
                    Notification
                </a>
            </li>
           
        </ul>
        <form class="d-flex my-2 my-lg-0">
            <!-- <input class="form-control me-sm-2" type="text" placeholder="Search"> -->
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>