<!--try to stetch the text area according to the text line of the input-->



<div class="card text-start w-75 mx-auto mb-2">
    <div class="card-body">
        <h4 class="card-title">What are you thinking about </h4>
        <!-- <input type="text" class="form-control"> -->
        <textarea name="status" cols="30" rows="2" id="textArea" class="form-control"
            placeholder="type anything you want" [(ngModel)]="post.content"></textarea>
        <div class="d-inline-flex gap-1 ">
            <!-- add an image or file or vedeo with a dropdown button-->
            
                <app-image [fromStatus]="fromStatus" class="float-end"></app-image>
             

                <button type="button" class="btn btn-outline-primary float-end mt-4" (click)="share()">
                    Share
                </button>
        </div>
    </div>
</div>